// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
    z-index: 50;
    width: 100%;
    // position: fixe;
    top: 0;
    background-color: white;
    min-height: 50px;
    color: #FE422D;
    box-shadow: 0 0 10px;
    opacity: 0.9;
    border-radius: 6px;
    
}

.header .header-container {
    margin: 0px 32px;
    padding-top: 10px;
    padding-bottom: 7px;
    position: relative;
    z-index: 1;
    border-radius: 10px;
}

.menu-wrapper {
    display: flex;
    position: absolute;
    right: 0;
    top: 15px;
}

.login-container {
    background: none;
    padding: 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: calc(100vh - 60px);
}

.login-form {
    background-color: white;
    border-radius: 8px;
    text-align: center;
    opacity: 0.8;
    padding: 10px;
    
}

.request-invite {
    text-align: center;
    color: #938E8D;
    font-weight: 300;
    font-size: 19px;
    margin-top: 25px;
}

.userlogin {
    font-family: 'Helvetica Neue', Helvetica;
    font-size: 14px;
    font-style: 'Light';
    line-height: 1.4;
    background-image: url("background.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

img {
  max-width: 100%;
  height: auto;
  opacity: 1;
  width: fit-content;
}

* {
    box-sizing: border-box;
  }

.column {
float: left;
width: 50%;
padding: 10px;
height: 300px;
}

.row:after {
content: "";
display: table;
clear: both;
}