// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.column img {
  border: solid;
  border-color: white;
  border-width: 10px;
  border-radius: 6px;
}

.container {
    display: grid;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .header {
      z-index: 50;
      width: 100%;
      // position: fixed;
      top: 0;
      background-color: white;
      min-height: 50px;
      color: tan;
      box-shadow: 0 0 10px;
      opacity: 6px;
      border-radius: 6px;
  }

  .container_card {
    display: flex;
    justify-content: space-around;
    align-items: space-around;
  }


  div.container {
    text-align: center;
    padding: 10px 20px;
  }

  body {
    font-family: 'Helvetica Neue', Helvetica;
    font-size: 16px;
    font-style: 'Light';
    line-height: 1.4;
    background-image: url("background_picnic.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  h2 {
    text-align: center;
    color: tan;
    text-shadow: 1px 1px black;

  }

  .buttons {
    display: flex;
    flex-direction: row;
  }

  .buttons > * {
    padding: 0 3px 0px 3px;
  }

  .buttons .button_to input {
    background: #e6e6e6;
    width: 30px;
    border-radius: 8px;
  }


    .recipe_buttons {
      display: flex;
      flex-direction: row;
    }

    .recipe_buttons > * {
      // padding: 0 3px 0px 3px;
    }

    .recipe_buttons .button_to input {
      background: #e6e6e6;
      // width: 30px;
      border-radius: 8px;
    }

    .header_logo {

    }
